*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header{
height: 100px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
border: 1px solid #ececec;
background-color: #ffffff;
}
.contener{
    width: 1140px;
    margin: 0 auto;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-left{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.form{
    display: flex;
    align-items: center;
    margin-left: 37px;
}
.header-right{
    display: flex;
    align-items: center;
}
.logo-image{
    margin-right: 13px;

}
.cart{
    margin-right: 26px;
}
.menu{
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu_link{
    padding: 20px;
    display: block;
   color: #222222;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
   

}
.promo{
    height: 614px;
    background-color: #e8e8e8;
}
.promo__content{
    height: 100%;
    background-image: url(./img/paren.jpg);
    background-position: 0 -51px;
}
.promo_text{
    font-size: 40px;
    font-weight: 400;
    color: #222222;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
    line-height: 31px;
    margin-top: 224px;
    float: left;
}
.offer{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    
    
    
}

    
   


.offer_content div:first-child{
    margin-bottom: 20px;

}
.offer__text {
    background-color: #ffffff;
    padding: 16px 20px;
    float: left;
    margin-top: 26px;
}
.offer__content_big{
    background-image: url(./img/Layer_30.jpg);
    width: 560px;
   height: 542px;
    
}
.offer_content_mini{
    background-image: url(./img/Layer_37.jpg);
    background-repeat: no-repeat;
    width: 560px;
    height: 261px;
    
}
.offer_content__mini{
    background-image: url(./img/Layer_32.jpg);
    background-repeat: no-repeat;
    width: 560px;
    height: 261px;
}
.offer_content_big{
    background-image: url(./img/Layer_31.jpg);
    width: 560px;
    height: 542px;
}
.hedear2{
   


color: #222222;
font-family: Lato;
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 54px;

font-style: normal;
letter-spacing: 0.75px;
line-height: normal;
color: #222222;
font-family: Lato;
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 54px;
text-align: center;
font-style: normal;
letter-spacing: 0.75px;
line-height: normal;
}
.feature_p{
/* Style for "Shop for i" */

color: #9f9f9f;
font-family: Lato;
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 54px;
text-align: center;
/* Text style for "S, hop for" */
font-style: normal;
letter-spacing: 0.35px;
line-height: normal;
margin-top: 16px;
margin-bottom: 60px;
}


.block-container{
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
   
}

.block2{
    position: relative;
    
  
    
    
    list-style: none;
    
    
    
    
     
 
    
    
}
.product___add{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(14, 9, 9, 0.5);
    margin-bottom: 70px;
   
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: 3s;
    /* Style for "Background" */
width: 263px;
height: 281px;
text-decoration: none;

}

.Add{

    outline: 1px solid white;
    width: 126px;
    height: 39px;
    padding-top: 10px;
    
   display: flex;
    /* Style for "Add to Car" */


font-family: Lato;
font-size: 13px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
/* Text style for "Add to Car" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
    
}


.product___add:hover{
    opacity: 1;
}
.gg-shopping-cart{
   margin: 10px;
 margin-top: -5px;
    
}
.mango{
    margin-top: 19px;
width: 157px;
height: 11px;
color: #222222;
font-family: Lato;
font-size: 13px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;
text-decoration: none;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.prise{
   
width: 50px;
height: 15px;
color: #f16d7f;
font-family: Lato;
font-size: 16px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;

font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.product__star{
    
width: 261px;
height: 280px;

}




    
    
   
   
    
  
 
    
     
     
  
    
    
  













   
   a .fa-solid  {
    margin: 2px;
   
    
    margin-top: 3px;
    
    width: 23px;
    height: 22px;
    justify-content: center;
    
    
   
color: #ffffff;
font-family: Lato;
font-size: 13px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
font-style: normal;
letter-spacing: normal;
line-height: normal;
 
   






     
}


    





.hedear-text{
    text-align: center;
    padding-bottom: 60px;

}

.button_red {
    position: relative;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    border: none;

/* Style for "Browse All" */

color: #ffffff;
font-family: Lato;
font-size: 16px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 54px;
text-align: center;
/* Text style for "B, rowse A" */
font-style: normal;
letter-spacing: 0.4px;
line-height: normal;
padding: 18 43 19 20;
    

}   
.gg-arrow-right{
    /* Style for "" */
width: 15px;
height: 7px;
color: #ffffff;
font-family: "Font Awesome";
font-size: 15px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 54px;
text-align: left;
/* Text style for "" */
font-style: normal;
letter-spacing: 0.38px;
line-height: normal;
position: absolute;
top: 28px;
left:190px;
bottom: 20px;
right: 19px;

}
.Browse{
    width: 145px;
height: 11px;
color: #ffffff;
font-family: Lato;
font-size: 16px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 54px;
text-align: center;
font-style: normal;
letter-spacing: 0.4px;
line-height: normal;
padding-left: 23px;
padding-bottom: 18px;

} 









.button_big{
    display: flex;
   justify-content: center;
   margin-left: 223px;
}
a{
    text-decoration: none;
}
.arrow{
    margin-right: 9px;
}
.feature{
    width: 1140px;
    height: 529px;
    background-color: #222224;
    position: relative;
}
.banner{
    width: 767px;
    height: 529px;
    background-image: url(./img/33.jpg);
    width: 767px;
   height: 529px;
    margin-top: 113px;
   
}
.banner-text{
    width: 293px;
height: 78px;
color: #ffffff;
font-family: Lato;
font-size: 54px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 1.5px;
line-height: normal;

font-style: normal;
letter-spacing: 1.5px;
line-height: normal;
font-size: 32px;
font-style: normal;
letter-spacing: 0.9px;
line-height: normal;
padding-top: 146px;
padding-left: 39px;

}
.feature{
    /* Style for "Layer 39" */
    
    margin-left: 229px;
    margin-right: 231px;
}
 .tract{
   position: absolute;
   top: 48px;
   bottom: 879px;
   left: 803px;
   right: 43px;
 }
 .Free{
    /* Style for "Free Deliv" */

color: #fbfbfb;
font-family: Lato;
font-size: 20px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
/* Text style for "Free Deliv" */
font-style: normal;
letter-spacing: 0.5px;
line-height: normal;

 }
 .delivery{
    /* Style for "Worldwide" */

color: #fbfbfb;
font-family: Lato;
font-size: 14px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 24px;
text-align: left;
/* Text style for "W, orldwid" */
font-style: normal;
letter-spacing: 0.35px;
line-height: normal;
 }
 
 .Free1{
    position: absolute;
    top: 5px;
    left: 75px;
 }
 .Sales1{
    /* Style for "Sales & di" */
    width: 162px;
    height: 16px;
color: #fbfbfb;
font-family: Lato;
font-size: 20px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
/* Text style for "Sales & di" */
font-style: normal;
letter-spacing: 0.5px;
line-height: normal;
 }
 .Worldwide{
    /* Style for "Worldwide" */
    width: 219px;
    height: 58px;
color: #fbfbfb;
font-family: Lato;
font-size: 14px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 24px;
text-align: left;
/* Text style for "W, orldwid" */
font-style: normal;
letter-spacing: 0.35px;
line-height: normal;
 }
 .Sales{
    position: absolute;
    top: 175px;
    right: 250px;
 }
 .discounts{
    position: absolute;
    left: 65px;
    top: 5px;
    
 }
 .Quality{
    /* Style for "Quality as" */
width: 168px;
height: 20px;
color: #fbfbfb;
font-family: Lato;
font-size: 20px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
/* Text style for "Quality as" */
font-style: normal;
letter-spacing: 0.5px;
line-height: normal;

 }
 .Worldwide1{
    /* Style for "Worldwide" */
width: 219px;
height: 58px;
color: #fbfbfb;
font-family: Lato;
font-size: 14px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 24px;
text-align: left;
/* Text style for "W, orldwid" */
font-style: normal;
letter-spacing: 0.35px;
line-height: normal;
 }
 .Quality1{
    position: absolute;
    top: 350px;
    left: 75px;
 }
.Quality2{
    position: absolute;
    left: -70px;
}
.OFFER1{
    color: #f16d7f;
}
